<p>id: {{user.id}}</p>
<p>name: {{user.name}}</p>
<p>surname: {{user.surname}}</p>
<p>age: {{user.age}}</p>
<p>date of birth: {{user.dateOfBirth}}</p>
<p><b>address:</b></p>
<p>city: {{user.address.city}}</p>
<p>street: {{user.address.street}}</p>
<p>postal code: {{user.address.postalCode}}</p>
<p>role: {{user.role}}</p>
<p>username: {{user.username}}</p>
<img src="{{user.profilePhotoUrl}}" style="width:300px" alt="">
<p>gender: {{user.gender}}</p>
<p>comapny: {{user.companies[0].name}}</p>
<p>description: {{user.companies[0].description}}</p>
<p>company: {{user.companies[1].name}}</p>
<p>description: {{user.companies[1].description}}</p>
<p>CHE bello ve</p>
